<footer class="page-footer text-center text-md-left elegant-color-dark mt-5">
    <div class="container-fluid py-5" style="background-color="#9aa4ae">
        <div class="flex-center">
            <ul class="list-unstyled">
                <li>
                    <h2 class="h2-responsive mb-4 mt-5 wow fadeIn"><i class="fas fa-quote-left"
                        aria-hidden="true"></i>
                        Ingeniero joven con vasta experiencia
                        <i class="fas fa-quote-right"
                        aria-hidden="true"></i>
                    </h2>
                </li>
                <li>
                    <h4 class="font-italic white-text wow fadeIn" data-wow-delay="0.2s">Cristián Guevara Khalil</h4>
                </li>
            </ul>

        </div>
    </div>

<!--social media-->

<div class="container-fluid mb-2">
    <div class="row">
        <div class="col-md12 my-4 fadeIn wow" data-wow-delay="0.3s">
            <div class="footer-sociams flex-center">
                <!--Linkedin-->
                <a href="#" type="button" class="btn-floating btn-cyan"><i class="fab fa-linkedin"></i></a>
                <!--Github-->
                <a href="#" type="button" class="btn-floating btn-deep-orange"><i class="fab fa-github"></i></a>
                <!--Twitter-->
                <a href="#" type="button" class="btn-floating btn-light-blue"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>

   
</footer>